 
 

/* Style the map */
/* #vehicle-list li:hover {
    background-color: #d3d3d3;
    margin-left: 50rem;
} */

#vehicle-list{
    margin-left: 5rem;
}
  #map {
    height: 80vh;
    
    width: 100%;
    padding: 0px;
}  

 
  .container-fluid.main {
    background-color: 	#dfdcdc !important;
    padding: 20px;
  }

  .items{
    margin-left: 0rem;
    padding: 0;
  }

  .card {
    border-radius: 100px;
  }

  .row{

    height: 87vh;
    margin-top: 1rem;
  }

  .map-col{

    /* background-color: red !important; */
    height: 90vh;
  }

  .navbar{
    height: 60px;
  }